@model DMS.Models.ResellerDetailsView
@{
    ViewData["Title"] = "AgreementDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AgreementDetails</h1>



<div style="margin-left:260px;margin-top:80px">

    <div>
        <h4 style="color: blue;">Reseller</h4>
        <a asp-action="Index" style="display:flex; float:right;margin-right:50px">Back</a>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="background-color: white;font-size: 16px;width: 1249px;height:350px;margin-left:1px">
            <div class="col-lg-4">
                <label>Reseller Name</label>

                <input asp-for="DistributorName" class="form-control custom-textbox" />
                <span asp-validation-for="DistributorName" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Reseller Type</label>
                <input asp-for="DistributorType" class="form-control custom-textbox" />

                <span asp-validation-for="DistributorType" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Country</label>

                <input asp-for="Country" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Zipcode</label>
                <input asp-for="Zipcode" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>State/ Region/ Province</label>
                <input asp-for="State" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>City</label>
                <input asp-for="City" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address1</label>
                <input asp-for="Address1" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address2</label>
                <input asp-for="Address2" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Email </label>

                <input asp-for="Email" class="form-control custom-textbox" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Contact Person Name</label>
                <input asp-for="ContactPersonName" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Phone / Mobile No</label>
                <input asp-for="PhoneNo" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>VAT/GST/Tax No.</label>
                <input asp-for="VAT" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Website</label>

                <input asp-for="Website" class="form-control custom-textbox" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
  


<div class="col-md-4 d-flex justify-content-between py-3 px-1 align-items-center">
    <h2 align="left" style="margin-left: 20px">Agreement Details</h2>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-append">
            <br />

            <div id="file-upload-container">
                <div class="form-group" id="file-upload-fields" style="display:none;">
                    <div class="container">
                        <form method="POST" name="addprdren" id="addprdren" enctype="multipart/form-data">
                            <div class="row mt-5 mb-3">
                                <div class="col-md-12">
                                    <h5 class="text-primary mb-3">Agreement details</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Agreement Start date</label>
                                        <input type="date" class="form-control" id="fDate" onchange="FDate()" placeholder="Reseller From" name="d_from" required>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Agreement End date</label>
                                        <input type="date" class="form-control" id="tDate" onchange="FDate()" disabled="disabled" onclick="TFDate()" placeholder="Reseller To" name="d_to" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Terms & Conditions 1</label>
                                        <textarea class="form-control textarea" rows="5" placeholder="Terms & Conditions" name="terms"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Terms & Conditions 2</label>
                                        <textarea class="form-control textarea" rows="5" placeholder="Terms & Conditions" name="terms2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Discount Terms <sup class="text-danger">*</sup></label>
                                        <textarea class="form-control textarea" rows="5" required placeholder="Discount Terms" name="terms3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1" style="margin-top:20px;">
                                <button type="button" class="btn btn-danger delete-file-btn">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-append">
                <br />
                <div class="col-md-4 d-flex justify-content-between py-3 px-1 align-items-center">
                    <h2 align="left" style="margin-left: 20px">Product Mapped</h2>
                    <center>
                        <button type="button" class="btn btn-primary" id="add-stage-btn">Add Product</button>
                    </center>
                </div>
                <div id="stage-upload-container">
                    <div class="form-group" id="stage-upload-fields" style="display:none;">
                        <div class="container">
                            <div class="box" style="height: 66px; border-radius: 7px;">
                                <label for="ProductName">Product Name</label>
                                <input type="text" class="form-control custom-width custom-textbox" name="ProductName">
                            </div>
                            <div class="box" style="height: 66px; border-radius: 7px;">
                                <label for="Discount">Discount</label>
                                <input type="text" class="form-control custom-width custom-textbox" name="Discount">
                            </div>
                            <div class="box" style="height: 66px; border-radius: 7px;">
                                <label for="EQty">Estimated Quantity</label>
                                <input type="text" class="form-control custom-width custom-textbox" name="EstimatedQuantity">
                            </div>
                            <div class="box" style="height: 66px; border-radius: 7px;">
                                <label for="UPrice">Unit Price</label>
                                <input type="text" class="form-control custom-width custom-textbox" name="UnitPrice">
                            </div>
                            <div class="box" style="height: 66px; border-radius: 7px;">
                                <label for="EDiscount">After Discount</label>
                                <input type="text" class="form-control custom-width custom-textbox" name="AfterDiscount">
                            </div>

                            <div class="col-1" style="margin-top:20px;">
                                <button type="button" class="btn btn-danger delete-file-btn">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="row row1">
                                <div class="col-md-12 text-right">
                                    <button type="cancel" class="btn" name="cancel">Cancel</button>
                                    <button type="submit" class="btn btn-primary" name="submit" id="submit">Save </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
</div>



@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var fileFieldTemplate = $('#file-upload-fields').clone(); // Clone the file upload fields template

        $('#add-file-btn').click(function () {
            var newFileField = fileFieldTemplate.clone(); // Clone a new file upload field
            newFileField.appendTo('#file-upload-container'); // Append the new file upload field to the container
            newFileField.show(); // Show the new file upload field
        });

        $(document).on('click', '.delete-file-btn', function () {
            $(this).closest('.form-group').remove();
        });


        var stageFieldTemplate = $('#stage-upload-fields').clone();
        $('#add-stage-btn').click(function () {
            var newStageField = stageFieldTemplate.clone(); // Clone a new stage field
            newStageField.appendTo('#stage-upload-container'); // Append the new stage field to the container
            newStageField.show(); // Show the new stage field
        });

        $(document).on('click', '.delete-stage-btn', function () {
            $(this).closest('.form-group').remove();
        });


        $(document).ready(function () {
            $("#update-button").click(function () {
                //var formData = $("#update-form").serialize();

                $.ajax({
                    url: "/Distributor/UpdateDistriDocu",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        // Handle success response
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                    }
                });
            });
        });



        $(document).ready(function () {
            $("#update-button").click(function () {
                //var formData = $("#update-form").serialize();

                $.ajax({
                    url: "/Distributor/GetProductMapById",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        // Handle success response
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                    }
                });
            });
        });
    });
</script>
