@model DMS.Models.ResellerDetailsView

@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<div style="margin-left:260px;margin-top:80px">

    <div>
        <h4 style="color: blue;">Reseller</h4>
        <a asp-action="Index" style="display:flex; float:right;margin-right:50px">Back</a>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="background-color: white;font-size: 16px;width: 1240px;height:350px;margin-left:1px">
            <div class="col-lg-4">
                <label>Reseller Name</label>

                <input asp-for="DistributorName" class="form-control custom-textbox" />
                <span asp-validation-for="DistributorName" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Reseller Type</label>
                <input asp-for="DistributorType" class="form-control custom-textbox" />

                <span asp-validation-for="DistributorType" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Country</label>

                <input asp-for="Country" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Zipcode</label>
                <input asp-for="Zipcode" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>State/ Region/ Province</label>
                <input asp-for="State" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>City</label>
                <input asp-for="City" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address1</label>
                <input asp-for="Address1" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address2</label>
                <input asp-for="Address2" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Email </label>

                <input asp-for="Email" class="form-control custom-textbox" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Contact Person Name</label>
                <input asp-for="ContactPersonName" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Phone / Mobile No</label>
                <input asp-for="PhoneNo" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>VAT/GST/Tax No.</label>
                <input asp-for="VAT" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Website</label>

                <input asp-for="Website" class="form-control custom-textbox" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            @*<form method="POST" enctype="multipart/form-data" name="distriDoc">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>File</th>
                                <th>Status</th>
                                <th>Reseller Remarks</th>
                                <th>Admin Remarks</th>
                                <th>Added On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Company Registration Document</td>
                                <td>
                                    <a href="~/images/R_bus38-230510030132.pdf">View</a>
                                </td>
                                <td>
                                    <ul class="radiobox" id="busiDoc">
                                        <li>
                                            <label class="kt-radio kt-radio--bold kt-radio--success">
                                                <input type="radio" name="busi_status" value="1"> Approve
                                                <span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="kt-radio kt-radio--bold kt-radio--danger">
                                                <input type="radio" name="busi_status" value="0"> Reject
                                                <span></span>
                                            </label>
                                        </li>
                                    </ul>
                                </td>
                                <td></td>
                                <td>
                                    <textarea class="form-control mb-0" name="busi_remark" required></textarea>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tax Identification Document</td>
                                <td>
                                    <a href="">View</a>
                                </td>
                                <td>
                                    <ul class="radiobox" id="gstDoc">
                                        <li>
                                            <label class="kt-radio kt-radio--bold kt-radio--success">
                                                <input type="radio" name="gst_status" value="1"> Approve
                                                <span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="kt-radio kt-radio--bold kt-radio--danger">
                                                <input type="radio" name="gst_status" value="0"> Reject
                                                <span></span>
                                            </label>
                                        </li>
                                    </ul>
                                </td>
                                <td></td>
                                <td>
                                    <textarea class="form-control mb-0" name="gst_remark" required></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>*@
        </div>
        <div style="margin-top:15px;background-color:white">
            <br />
            <h4 style="margin-left:5px">Document Details</h4>
            <form method="POST" enctype="multipart/form-data" name="distriDoc">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>File</th>
                            <th>Status</th>
                            <th>Reseller Remarks</th>
                            <th>Admin Remarks</th>
                            <th>Added On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Company Registration Document</td>
                            <td>
                                <a href="~/Document/@(Model.DistributorId)_company.pdf">view</a>
</td>
                            <td>
                                @if (Model.Bus_Status == "0")
                                {
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="1"> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="0" checked> Reject
                                    </label>
                                }
                                else if (Model.Bus_Status =="1" )
                                {
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="1" checked> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="0"> Reject
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="1"> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Bus_Status" value="0"> Reject
                                    </label>
                                }







                            </td>
                            <td></td>
                            <td>
                                <textarea class="form-control mb-0" name="busi_remark" required></textarea>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tax Identification Document</td>
                            <td>
                                <a href="~/Document/@(Model.DistributorId)_tax.pdf">View</a>
                            </td>
                            <td>

                                @if (Model.Tax_Status == "0")
                                {
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="1"> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="0" checked> Reject
                                    </label>
                                }
                                else if (Model.Tax_Status == "1")
                                {
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="1" checked> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="0"> Reject
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="1"> Approve
                                    </label>
                                    <label>
                                        <input type="radio" asp-for="Tax_Status" value="0"> Reject
                                    </label>
                                }


                            </td>
                            <td></td>
                            <td>
                                <textarea class="form-control mb-0" name="gst_remark" required></textarea>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button id="btn-kkk" class="btn btn-primary" onclick="checkApproval()">Click</button>
            </form>
        </div>

        <div id="additionalDetailsDiv" style="display: none;">
            <!-- Additional details -->
            <h3>Product Map Details</h3>
            <!-- Add your additional details here -->

            <h3>Agreement Details</h3>

            <a href="@Url.Action("AgreementDetails1", "Distributor",new { id=@Model.DisID})" class="btn btn-primary">
                <i class="bi bi-plus-circle align-baseline me-1"></i> Start Agreement
            </a>
        </div>
       </div>
    </div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



@*<div class="col-lg-12">
        <br />
        <h5 style="color:blue">
        Document Details
        </h5>
        <br />
        @await Component.InvokeAsync("DocumentDetails", new { Id = Model.DisID })
    </div>*@
@*<div class="col-lg-12">
        <br />
        <h5 style="color:blue">

            Product Map Details
        </h5>
        <br />
        @await Component.InvokeAsync("ProductMap", new { Id = Model.DisID })
    </div>*@
@*</div>

    </div>>*@


<script>
    $(document).ready(function () {
        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/UpdateDistriDocu",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });

    $(document).ready(function () {
        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/GetProductMapById",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });
</script>
<script>
    function checkApproval() {
        debugger;
        var busiStatus = document.querySelector('input[name="Bus_Status"]:checked').value;
        var gstStatus = document.querySelector('input[name="Tax_Status"]:checked').value;

        
        if(busiStatus === '1' && gstStatus === '1')
        {
            
                    document.getElementById('additionalDetailsDiv').style.display = 'block';
          
        }

        $.ajax({
            url: "/Distributor/updatestatus",
            type: "POST",
            data: {
                busiStatus: busiStatus,
                gstStatus: gstStatus
            },
           
            success: function (data) {
                // Handle success response
            },
            error: function (xhr, status, error) {
                // Handle error response
            }
        });

    }
</script>
