@model DMS.Models.ResellerDetailsView

@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<div style="margin-left:260px;margin-top:80px">

    <div>
        <h4 style="color: blue;">Reseller</h4>
        <a asp-action="Index" style="display:flex; float:right;margin-right:50px">Back</a>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="background-color: white;font-size: 16px;width: 1240px;height:350px;margin-left:1px">
            <div class="col-lg-4">
                <label>Reseller Name</label>

                <input asp-for="DistributorName" class="form-control custom-textbox" />
                <span asp-validation-for="DistributorName" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Reseller Type</label>
                <input asp-for="DistributorType" class="form-control custom-textbox" />

                <span asp-validation-for="DistributorType" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Country</label>

                <input asp-for="Country" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Zipcode</label>
                <input asp-for="Zipcode" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>State/ Region/ Province</label>
                <input asp-for="State" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>City</label>
                <input asp-for="City" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address1</label>
                <input asp-for="Address1" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Address2</label>
                <input asp-for="Address2" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Email </label>

                <input asp-for="Email" class="form-control custom-textbox" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>Contact Person Name</label>
                <input asp-for="ContactPersonName" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Phone / Mobile No</label>
                <input asp-for="PhoneNo" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>VAT/GST/Tax No.</label>
                <input asp-for="VAT" class="form-control custom-textbox" />
            </div>
            <div class="col-lg-4">
                <label>Website</label>

                <input asp-for="Website" class="form-control custom-textbox" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>

        </div>
        <div style="margin-top:15px;background-color:white">
            <br />
            <h4 style="margin-left:5px">Document Details</h4>
            <form method="POST" enctype="multipart/form-data" name="updatedocstatus">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>File</th>
                            <th>Status</th>
                            <th>Reseller Remarks</th>
                            <th>Admin Remarks</th>
                            <th>Added On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Company Registration Document</td>
                            <td>
                                <a href="~/Document/@(Model.DistributorId)_company.pdf">view</a>
                            </td>
                            <td>
                                @if (Model.Bus_Status == "0")
                                {
                    <label>
                        <input type="radio" name="Bus_Status" value="1"> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Bus_Status" value="0" checked> Reject
                                    </label> }
                                else if (Model.Bus_Status == "1")
                                {
                    <label>
                        <input type="radio" name="Bus_Status" value="1" checked> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Bus_Status" value="0"> Reject
                                    </label> }
                                else
                                {
                    <label>
                        <input type="radio" name="Bus_Status" value="1"> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Bus_Status" value="0"> Reject
                                    </label>}







                            </td>
                            <td></td>
                            <td>
                                <textarea class="form-control mb-0" name="busi_remark" required></textarea>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tax Identification Document</td>
                            <td>
                                <a href="~/Document/@(Model.DistributorId)_tax.pdf">View</a>
                            </td>
                            <td>

                                @if (Model.Tax_Status == "0")
                                {
                    <label>
                        <input type="radio" name="Tax_Status" value="1"> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Tax_Status" value="0" checked> Reject
                                    </label> }
                                else if (Model.Tax_Status == "1")
                                {
                    <label>
                        <input type="radio" name="Tax_Status" value="1" checked> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Tax_Status" value="0"> Reject
                                    </label> }
                                else
                                {
                    <label>
                        <input type="radio" name="Tax_Status" value="1"> Approve
                    </label>
                                    <label>
                                        <input type="radio" name="Tax_Status" value="0"> Reject
                                    </label>}


                            </td>
                            <td></td>
                            <td>
                                <textarea class="form-control mb-0" name="gst_remark" required></textarea>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button id="btn-kkk" class="btn btn-primary" type="button">Click</button>
            </form>


        </div>

        <div id="additionalDetailsDiv" style="display: none;">
            <!-- Additional details -->
            <h3>Product Map Details</h3>
            <!-- Add your additional details here -->

            <h3>Agreement Details</h3>

            <a href="@Url.Action("AgreementDetails1", "Distributor",new { id=@Model.DisID})" class="btn btn-primary">
                <i class="bi bi-plus-circle align-baseline me-1"></i> Start Agreement
            </a>
        </div>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    $(document).ready(function () {
     
    });

    $(document).ready(function () {
        $("#btn-kkk").click(function () {
            //checkApproval();
            //var companyStatus = $("input[name='Bus_Status']:checked").val();
            //var taxStatus = $("input[name='Tax_Status']:checked").val();
            //console.log(companyStatus);
            //console.log(taxStatus);

            var bus_Status = $("input[name='Bus_Status']:checked").val();
            var tax_Status = $("input[name='Tax_Status']:checked").val();

            //if (busiStatus === '1' && gstStatus === '1') {
                //var busiRemark = document.querySelector('textarea[name="busi_remark"]').value;
                //var gstRemark = document.querySelector('textarea[name="gst_remark"]').value;

                var data = {
                    DisID: @(Model.DisID),
                    Bus_Status: bus_Status,
                    Tax_Status: tax_Status
                };
                console.log(data);
                $.ajax({
                    url: "/Distributor/updatedocstatus",
                    type: "POST",
                    //data: data,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (response) {
                        // Handle the response from the server if needed
                        console.log(response);
                    },
                    error: function (error) {
                        // Handle the error if the request fails
                        console.log(error);
                    }
                });

                document.getElementById('additionalDetailsDiv').style.display = 'block';

            //}
        });

        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/UpdateDistriDocu",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });

    $(document).ready(function () {
        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/GetProductMapById",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });
</script>





@*<script>


    $(document).ready(function () {
        $("#btn-kkk").click(function () {
            checkApproval();
        });

        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/UpdateDistriDocu",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });

    $(document).ready(function () {
        $("#update-button").click(function () {
            //var formData = $("#update-form").serialize();

            $.ajax({
                url: "/Distributor/GetProductMapById",
                type: "POST",
                data: formData,
                success: function (data) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });
    });
</script>
<script>
    function checkApproval() {
       
        var busiStatus = document.querySelector('input[name="busi_status"]:checked').value;
        var gstStatus = document.querySelector('input[name="gst_status"]:checked').value;

        debugger;
        if (busiStatus === '1' && gstStatus === '1') {
            var busiRemark = document.querySelector('textarea[name="busi_remark"]').value;
            var gstRemark = document.querySelector('textarea[name="gst_remark"]').value;


            var data = {
                DisID:@(Model.DisID),
                busiStatus: busiStatus,
                busiRemark: busiRemark,
                gstStatus: gstStatus,
                gstRemark: gstRemark
            };

            $.ajax({
                url: "/Distributor/updatedocstatus",
                type: "POST",
                data: JSON.stringify(data),
                success: function (response) {
                    // Handle the response from the server if needed
                    console.log(response);
                },
                error: function (error) {
                    // Handle the error if the request fails
                    console.log(error);
                }
            });

            document.getElementById('additionalDetailsDiv').style.display = 'block';
        }
    }
   
</script>*@








