 @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DMS Admin</title>

    <link rel="stylesheet" href="../../node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css">

    <link rel="stylesheet" href="../../node_modules/jqvmap/dist/jqvmap.min.css" />

    <link rel="stylesheet" href="~/css/style.css">

    <link rel="shortcut icon" href="images/favicon.png" />

    <style>
        .nav-item.outer-ui {
            margin-left: 1.8px;
        }

            .nav-item.outer-ui a {
                display: block;
                text-decoration: none;
            }

        .menu-title {
            display: inline-block;
            vertical-align: middle;
        }

        .nav-item.outer-ui img {
            vertical-align: middle;
            margin-right: 5px;
        }

        .mdi {
            display: inline-block;
            font-size: inherit;
            vertical-align: middle;
        }

            .mdi.menu-icon {
                margin-left: 10px;
            }

        ul.inner-ui {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
            display: none;
        }

        .inner-li {
            margin-bottom: 5px;
        }

            .inner-li a {
                display: block;
                text-decoration: none;
            }

            .inner-li .menu-title {
                display: inline-block;
                vertical-align: middle;
            }

            .inner-li img {
                vertical-align: middle;
                margin-right: 5px;
            }

            .inner-li .mdi {
                display: inline-block;
                font-size: inherit;
                vertical-align: middle;
            }

                .inner-li .mdi.menu-icon {
                    margin-left: 10px;
                }

        .nav-item.outer-ui:hover ul.inner-ui {
            display: block;
        }

        .inner-li:hover {
            background-color: transparent;
            color: white;
        }

        /* ul.outer-ui {
            overflow: hidden;
        }

        li {
            overflow: hidden;
            list-style: none;
        }

            li a:hover {
               color:white;
            }

        .outer-ui li:hover .inner-li .inner-ui {
            display:block;
        }

        .inner-li {
            display:none;
        }*/
    </style>
</head>

<body>
    <div class="container-scroller">
    
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                @*@<a class="navbar-brand brand-logo" href="../../index.html"><img src="~/images/Dms.png" alt="logo" /></a>@*@
                <img src="~/images/Dms.png" height="50" width="100" />
                <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-profile" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <img src="../../images/faces/face1.jpg" alt="image">
                            <span class="d-none d-lg-inline">@Accessor.HttpContext.Session.GetString("UName")</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-cached mr-2 text-success"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Login/Login">
                                <i class="mdi mdi-logout mr-2 text-primary"></i>
                                Signout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:../../partials/_sidebar.html -->

                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link " href="/Home/Dashboard">
                                <span class="menu-title active"><img src="~/images/dashboard.svg" />Dashboard</span>
                                @*@<span class="menu-sub-title">( 2 new updates )</span>@*@
                                <i class="mdi mdi-home menu-icon"></i>
                            </a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Basic UI Elements</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Company/Index">
                                <span class="menu-title"><img src="~/images/prospects.svg" />Company</span>
                                <i class="mdi mdi-contacts menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Product/Index">
                                <span class="menu-title"><img src="~/images/products.svg" />Products</span>
                                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Distributor/Index">
                                <span class="menu-title"><img src="~/images/reseller.svg" />Reseller</span>
                                <i class="mdi mdi-chart-bar menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Prospects/Index">
                                <span class="menu-title"><img src="~/images/prospects.svg" />Prospects</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/Index">
                                <span class="menu-title"><img src="~/images/clients.svg" /> Clients</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Invoice/Index">
                                <span class="menu-title"><img src="~/images/orders.svg" /> Invoices</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item outer-ui" style="margin-left: 1.8px;">
                            <a href="#Masters">
                                <span class="menu-title" style="color:white;"><img src="~/images/orders.svg"  /> Masters</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                            <ul class="inner-ui">
                                <li class="inner-li">
                                    <a class="nav-link" href="/IndustryType/Index">
                                        <span class="menu-title"><img src="~/images/prospects.svg" />Industry Types</span>
                                        <i class="mdi mdi-contacts menu-icon"></i>
                                    </a>
                                </li>
                                <li class="inner-li">
                                    <a class="nav-link" href="/IndustryType/tax">
                                        <span class="menu-title"><img src="~/images/prospects.svg" />Tax Rates</span>
                                        <i class="mdi mdi-contacts menu-icon"></i>
                                    </a>
                                </li>
                                <li class="inner-li">
                                    <a class="nav-link" href="/Zip/Index2">
                                        <span class="menu-title"><img src="~/images/prospects.svg" />Zip Codes</span>
                                        <i class="mdi mdi-contacts menu-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="nav-item bg-transparent">-->
                            @*<a class="nav-link" data-toggle="collapse" href="/IndustryType/Index" aria-expanded="false" aria-controls="auth">
            <span class="menu-title">Industry Types</span>*@
                            @*@<i class="menu-arrow"></i>
                            @*Masters
                            <select class="menu-title bg-transparent" style="background-color:transparent;opacity:50;border:none">
                                <option style="background:transparent"></option>
                                <option style="background:transparent">Industry Types</option>
                                <option src="/IndustryType/tax">Tax Rates</option>
                                <option href="/IndustryType/zip">Zip Codes</option>
                            </select>
                            <i class="mdi mdi-lock menu-icon"></i>*@
                            @*@</a>@*@
                            <!--<div class="collapse" id="auth">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
                                </ul>
                            </div>
                        </li>-->
                        @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title"><img src="~/images/products.svg" /> MasterPages</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-lock menu-icon"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>*@
                    </ul>
                </nav>
            </div>

            <!-- partial -->
            <div class="content-wrapper" style="background-color:white">
                <div class="row">
                    @RenderSection("Scripts", required: false)
                    @RenderBody()

                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <!--<footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="https://www.DMS.com/" target="_blank">DMS</a>. All rights reserved.</span>-->
                            @*@<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>@*@
                        <!--</div>
                    </footer>-->
                    <!-- partial -->
                </div>
                <!-- row-offcanvas ends -->
            </div>
           
        </div>
       
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
       
        <script src="../../js/off-canvas.js"></script>
        <script src="../../js/misc.js"></script>
       
        <script src="~/js/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
               
                $('.nav-link:contains("MasterPages")').click(function (e) {
                    e.preventDefault(); 
                    var submenu = $(this).siblings('.collapse'); 
                    if (submenu.is(':visible')) {
                        submenu.collapse('hide'); 
                    } else {
                        $('.collapse.show').collapse('hide'); 
                        submenu.collapse('show'); 
                    }
                });
            });
        </script>


     </div>
</body>

</html>